# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Nix
result
result-*

# Node
node_modules/
npm-debug.log*

# Crowdin
crowdin.yml.bak
